:root {
  --light-cyan: #D1FAFF;
  --light-blue: #9BD1E5;
  --air-force-blue: #6A8EAE;
  --jade: #57A773;
  --dark-spring-green: #157145;
}

body {
  background-color: var(--jade);
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: transparent !important;
}

.navbar {
  padding: 1rem; 
}

.navbar-brand, .nav-link {
  color: #ffffff; 
  text-decoration: none;
}

.nav-link:hover {
  color: #d1e8ff;
}

.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.container-fluid.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInUp 2s ease-out;
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.name {
  font-family: 'CustomFont', sans-serif;
  color: #fbf6eb;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  animation: fadeInUp 2.5s ease-out;
}

.description h2 {
  font-size: 30px;
  font-weight: normal;
  color: #6fa8dc;
  margin: 0;
  text-align: center;
  animation: fadeInUp 3s ease-out;
}

.description h3 {
  font-size: 20px;
  font-weight: normal;
  color: #6fa8dc;
  margin: 0;
  text-align: center;
  animation: fadeInUp 3s ease-out;
}

h1 {
  font-family: 'CustomFont', sans-serif;
  color: #fbf6eb;
}

#about {
  padding: 50px;
}

#projects-experience {
  padding: 50px;
}

@font-face {
  font-family: 'CustomFont';
  src: url('fonts/Vonique 64.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
